<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      BachelorApplication
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">BachelorApplication</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Dúfam že ten bluetooth už bude fungovať</strong>
    <p>Pripravený to vyskúšať?</p>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" routerLink="/bluetooth">
      <ion-icon name="bluetooth" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
